* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #818D92;
    font-family: Segoe UI;
}

.container {
    display: block;
    width: 75vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  20px 20px 90px #535855,
                -20px -20px 90px #ffffff;
}

.usd {
    display: inline-flex;
    background-color: transparent;
}

.usd-text {
    display:inline-block;
    background-color: transparent;
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 40px;
    font-weight: 500;
}

.usd-value {
    display: inline-block;
    background-color: transparent;
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 10vh;
}

.euro {
    display: inline-flex;
    background-color: transparent;
}

.euro-text {
    display:inline-block;
    background-color: transparent;
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 40px;
    font-weight: 500;
}

.euro-value {
    display: inline-block;
    background-color: transparent;
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 10vh;
}

.sterlin {
    display: inline-flex;
    background-color: transparent;
}

.sterlin-text {
    display:inline-block;
    background-color: transparent;
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 40px;
    font-weight: 500;
}

.sterlin-value {
    display: inline-block;
    background-color: transparent;
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 10vh;
}

.manat {
    display: inline-flex;
    background-color: transparent;
}

.manat-text {
    display:inline-block;
    background-color: transparent;
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 40px;
    font-weight: 500;
}

.manat-value {
    display: inline-block;
    background-color: transparent;
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 10vh;
}

.dinar {
    display: inline-flex;
    background-color: transparent;
}

.dinar-text {
    display:inline-block;
    background-color: transparent;
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 40px;
    font-weight: 500;
}

.dinar-value {
    display: inline-block;
    background-color: transparent;
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 10vh;
}

.info-button {
    display: inline-flex;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vh;
    width: 40px;
    height: 40px;
    background-color: white;
    transition: all 0.3s ease-out;
    border-radius: 30px;
}

.info-button img {
    background-color: white;
    border-radius: 30px;
}

.info-button span {
    background-color: transparent;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 6px;
}

.info-button a {
    text-decoration: none;
    background-color: transparent;
    color: red;
}

.info-button:hover{
    width: 350px;
}

@media screen and (max-width: 1500px) {
    .usd-text,
    .euro-text,
    .sterlin-text,
    .manat-text,
    .dinar-text {
        font-size: 35px;
    }

    .usd-value,
    .euro-value,
    .sterlin-value,
    .manat-value,
    .dinar-value {
        font-size: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .usd-text,
    .euro-text,
    .sterlin-text,
    .manat-text,
    .dinar-text {
        font-size: 30px;
    }

    .usd-value,
    .euro-value,
    .sterlin-value,
    .manat-value,
    .dinar-value {
        font-size: 30px;
    }
}

@media screen and (max-width: 820px) {
    .usd-text,
    .euro-text,
    .sterlin-text,
    .manat-text,
    .dinar-text {
        font-size: 25px;
        margin-top: 5vh;
    }

    .usd-value,
    .euro-value,
    .sterlin-value,
    .manat-value,
    .dinar-value {
        font-size: 25px;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 520px) {
    .usd-text,
    .euro-text,
    .sterlin-text,
    .manat-text,
    .dinar-text {
        font-size: 20px;
        margin-top: 5vh;
    }

    .usd-value,
    .euro-value,
    .sterlin-value,
    .manat-value,
    .dinar-value {
        font-size: 20px;
        margin-top: 5vh;
    }

    .info-button span {
        font-size: 18px;
        margin-top: 9px;
    }

    .info-button:hover {
        width: 300px;
    }
}
