* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF7FF;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-1,
.container-2 {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    height: calc(1024px - 50px);
    justify-content: center;
}

.container-1 {
    margin-right: 100px;
}

.container-2 {
    margin-left: 100px;
}

.container-1 div,
.container-2 div {
    display: inline-flex;
    flex-direction: row;
    width: 500px;
    height: 120px;
    margin-left: 50px;
    margin-top: 25px;
}

.container-1 div h2,
.container-2 div h2 {
    margin-left: 10px;
}

.footer {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer h4,
.footer a {
    background-color: #38E4AE;
}

.footer a {
    text-decoration: none;
    color: #2F52E0;
}

@media screen and (max-width: 1280px) {
    .container-1 {
        margin-right: 0px;
    }
    
    .container-2 {
        margin-left: 0px;
    }    
}

@media screen and (max-width: 1024px) {
    .container-1,
    .container-2,
    .container-1 div,
    .container-2 div {
        width: 400px;
    }

    .container-1 div,
    .container-2 div {
        margin-left: 0px;
    }   

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    * {
        justify-content: center;
    }

    body {
        flex-direction: column;
    }

    .container-1,
    .container-2 {
        height: calc(600px - 50px);
    }
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 17.5px;
    }
}